body {
    background-color: black;
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 95%;
}

@media only screen and (max-width: 992px) {
    body {
        background-size: 400%;
    }
    .modal {
        width: 90%;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 993px) {
    .modal {
        width: 60%;
    }
}

@media only screen and (min-width: 1401px) {
    .modal {
        width: 50%;
    }
}

.modal .hoverable .modal-content {
    padding: 24px 24px 0 24px;
}

.text-shadow {
    text-shadow: 2px 2px 2px black, 0 0 5px black, 0 0 10px black,
        0 0 15px black, 0 0 20px black, 0 0 30px black, 0 0 50px black,
        0 0 80px black, 0 0 120px black;
}

.text-shadow-s {
    text-shadow: 2px 2px 2px black, 0 0 5px black, 0 0 10px black;
}

.pointer {
    cursor: pointer;
}

.text-upper {
    text-transform: uppercase;
}

.sidenav {
    width: 260px;
}

.sidenav li > a {
    padding: 0 16px;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 16px 0 32px;
}

.sidenav li > a > i.material-icons {
    margin: 0 16px 0 0;
}

.datepicker-controls .select-month input {
    width: 100px;
}

.dropdown-content {
    max-height: 250px;
}

.btn {
    margin: 2px 0 2px 0;
}

@media only screen and (max-width: 992px) {
}

::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background: #90a4ae;
}

::-webkit-scrollbar-thumb:hover {
    background: #607d8b;
}